* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  min-height: 100vh;
  top: 0;
  display: flex;
  
}

.main-content {
  width: calc(100% - 80px); 
  margin-top: 20px;
  
}





 .logo img {
  height: 60px;
  width: auto;
} 

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 70px;
  height: 100% ; 
  background-color: rgb(0, 0, 0);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.nav-link {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.461);
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
  background-color: #333;
  color: rgba(0, 255, 153, 0.76);
  transform: translateY(-5px); 
  border-radius: 5px;
  padding: 2px;
}

.nav__icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.nav-text {
  font-size: 0.7rem; 
  text-align: center;
}



.singer-list {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 40px;
  padding-left: 20px; 
  overflow: hidden;

}



.singer{
  width: 150px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.singer:hover{
  background-color: #3f3f3fad;
  border-radius: 10px;
}

.singer-image{
        
  width: 120px;
  height: 120px;
  object-fit:cover; 
  border-radius: 50%;

}
.singer-name{
  color: #878787;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
}

.view-more {
  color: #878787;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.view-more i{
  font-size: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.view-more i:hover{
  background-color: #3f3f3fad;
}



.buttons {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.animate {
  animation: expand 0.5s ease-in-out;
  height: 160px;  
}

@keyframes expand {
  from {
      height: 50px;
  }
  to {
      height: 160px;
  }
}

.button {
  width: 35px;
  height: 35px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff9d;
  
  
}

.button i{
  font-size: 20px;
}
.button:hover{
  background-color: #333;
  color: rgba(0, 255, 153, 0.76);
  
}

.hidden{
  display: none;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 20px;

}

.section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

 h1{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-left: 20px;
}

.category{
  
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.category::before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  background: linear-gradient(to right, #000000 10%,crimson 100%);
}